.nav-bar {
    box-shadow: 1px 1px 5px 0 black;
}

.create-thought-input {
    border-radius: 5px;
    outline: none;
    transition: width 0.5s ease;
    width: 20rem;
    height: 2rem;
    font-size: 1.8rem;
}

.create-thought-input:focus {
    width: 50rem;
}

.site-logo{
    width: 5rem;
    height: 5rem;
}